[submodule "jni/messenger-backend"]
	path = jni/messenger-backend
	url = https://github.com/deltachat/deltachat-core
[submodule "jni/deltachat-core-rust"]
	path = jni/deltachat-core-rust
	url = https://github.com/deltachat/deltachat-core-rust
