<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.BLUETOOTH" android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />
    <uses-permission android:name="android.permission.MANAGE_OWN_CALLS"/>

    <application>

        <activity android:name=".calls.CallActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout|keyboard|keyboardHidden"
            android:launchMode="singleTask"
            android:taskAffinity=".calls.PipCallTask"
            android:theme="@style/Theme.App.NoActionBar.Fullscreen"
            android:exported="false"
            android:supportsPictureInPicture="true"
            android:excludeFromRecents="true">
        </activity>

        <service
            android:name=".calls.CallService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="camera|microphone" />

    </application>
</manifest>