<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>

        <activity android:name=".calls.CallActivity"
            android:theme="@style/TextSecure.LightTheme"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize|uiMode">
        </activity>

        <receiver android:name=".notifications.DeclineCallReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="org.thoughtcrime.securesms.notifications.DECLINE_CALL_NOTICED"/>
            </intent-filter>
        </receiver>

    </application>
</manifest>